<header class="header">
  <p>Github Search Engine</p>
</header>
<router-outlet></router-outlet>
<!--  PAGE RESULT
<div class="repo-container">
  <div class="repo-profile-container">
    <img class="repo-profile-item repo-profile-img" src="https://avatars3.githubusercontent.com/u/698437?v=4" />
    <div class="repo-profile-item repo-summary-container">
      <h2 class="repo-summary-title">JavaScript</h2>
      <div class="repo-summary-info">
        <div class="repo-summary-info-item">
          <span>144</span>
          <span><i>Open Issues</i></span>
        </div>
        <div class="repo-summary-info-item">
          <span>144</span>
          <span><i>Forks</i></span>
        </div>
        <div class="repo-summary-info-item">
          <span>144</span>
          <span><i>Watchers</i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="repo-branches-container">
    <table class="repo-branches-table">
      <tr>
        <th>Branch Name</th>
      </tr>
      <tr class="table-row">
        <td>master</td>
      </tr>
      <tr class="table-row">
        <td>gh-pages</td>
      </tr>
    </table>
  </div>
</div> -->