.header {
    padding: 0.5em;
    text-align: center;
    background: DodgerBlue;
    color: white;
    font-size: 30px;
  }

.repo-container{
  padding: 2em;
}

.repo-container .repo-profile-container {
  display: flex;
}

.repo-container .repo-profile-container .repo-profile-item {
  margin: 2em;
}

.repo-container .repo-profile-container .repo-profile-img{
  width: 200px;
  height: 200px;
  border: 2px solid lightblue;
  border-radius: 50%;
}

.repo-container .repo-profile-container .repo-summary-container .repo-summary-title{
  font-size: 35px
}

.repo-container .repo-profile-container .repo-summary-container .repo-summary-info{
  display: flex;
}

.repo-container .repo-profile-container .repo-summary-container .repo-summary-info-item{
  flex-direction: column;
    display: flex;
    padding: 2em;
}

.repo-branches-container {
  margin: 2em;
}

.repo-branches-container .repo-branches-table {
  width: 100%;
}

.repo-branches-container .repo-branches-table th {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: DodgerBlue;
  color: white;
}

.repo-branches-container .repo-branches-table td, .repo-branches-table th {
  border: 1px solid #ddd;
  padding: 1em;
}

.repo-branches-container .repo-branches-table .table-row:hover {
  background-color: #ddd;
}

